/* Styles for screens smaller than 768px */
@media screen and (max-width: 600px) {
    /* Add your styles for smaller screens here */
    .biography .biography-section-1,.biography .biography-section-2,.biography-section-3{
        flex-direction: column;
    }
    .narrative .content{
       width: 100%;
    }
    .life-career .content{
        width: 90%;
    }
    .life-career .life-career-1,.life-career-2{
        flex-direction: column;
    }
    .personal-life .content{
        width: 90%;
    }
    .personal-life-section-1{
        flex-direction: column;
    }
    .narrative h1,.life-career h1 ,.personal-life h1,.quiz h1,.timeline h1{
        font-size: 3rem !important;
    }
    #navbarMenu{
        display: none !important;
    }
    .tribute-name{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .narrative,.timeline{
        padding-top: 12rem !important;
    }
    .narrative img{
        width: 30rem;
    }
    .life-career-1,.life-career-2,.life-career-3 img{
        width: 30rem !important;
    }
    .personal-life img{
        width:27rem !important;
    }
}
/* Styles for screens between 768px and 1024px */
@media screen and (min-width: 600px) and (max-width: 900px) {
    #dropdownMenu{
        display: none !important;
    }
    .biography .biography-section-1,.biography .biography-section-2,.biography-section-3{
        flex-direction: column;
    }
    .narrative .content{
       width: 100%;
    }
    .life-career .content{
        width: 90%;
    }
    .life-career .life-career-1,.life-career-2{
        flex-direction: column;
    }
    .personal-life .content{
        width: 90%;
    }
    .personal-life-section-1{
        flex-direction: column;
    }
}

/* Styles for screens larger than 1024px */
@media screen and (max-width: 900px) {
    h1{
        font-size: 3rem;
    }
    /* Add your styles for larger screens here */
}